<!DOCTYPE html>
<html>

<head>
    <title>Aggiungi Match</title>
</head>

<body>

    <h1>Aggiungi Match</h1>

    <h2>{{ card.nome }}</h2>

    <form method="POST">

        <label>Nome Match</label>
        <br>
        <input type="text" name="nome">
        <br><br>

        <label>Domanda 1</label>
        <br>
        <input type="text" name="domanda1">
        <br><br>

        <label>Risposte domanda 1</label>
        <br>
        <input type="text" name="risposte1">
        <br><br>

        <label>Domanda 2</label>
        <br>
        <input type="text" name="domanda2">
        <br><br>

        <label>Risposte domanda 2</label>
        <br>
        <input type="text" name="risposte2">
        <br><br>

        <button type="submit">
            AGGIUNGI MATCH
        </button>

    </form>

</body>

</html>