<!DOCTYPE html>
<html lang="it">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Recupero Password</title>

</head>

<body style="
background:#111;
color:white;
font-family:Arial;
padding:40px;
">

<h1>
🔑 Recupera Password
</h1>

<form method="POST">

<input
    type="email"
    name="email"
    placeholder="Email"
    required
    style="
    width:100%;
    padding:14px;
    margin-top:20px;
    margin-bottom:20px;
    "
>

<button style="
background:crimson;
color:white;
border:none;
padding:14px 20px;
border-radius:10px;
">

INVIA EMAIL

</button>

</form>

</body>

</html>