<!DOCTYPE html>
<html lang="it">

<head>
<meta charset="UTF-8">
<title>Reset Password</title>
</head>

<body style="
background:#111;
color:white;
font-family:Arial;
padding:40px;
">

<h1>
🔒 Nuova Password
</h1>

<form method="POST">

<input
    type="password"
    name="password"
    placeholder="Nuova Password"
    required
    style="
    width:100%;
    padding:14px;
    margin-top:20px;
    margin-bottom:20px;
    "
>

<button style="
background:crimson;
color:white;
border:none;
padding:14px 20px;
border-radius:10px;
">

SALVA PASSWORD

</button>

</form>

</body>

</html>